<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="popup">×</button>
    <h4 class="modal-title">
        <?=e(trans('waka.workflow::lang.base.confirm_no_trans_title'))?>
    </h4>
</div>

<div class="modal-body">
    Confirmation
</div>
<div class="modal-footer">
    <button type="submit"
            data-request="onSave"
            class="btn btn-primary">
        <?=e(trans('waka.wutils::lang.global.validate'))?>
    </button>
    <button type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?=e(trans('waka.wutils::lang.global.cancel'))?>
    </button>
</div>
